@main("Welcome to GitStat") {

    <div class="jumbotron">
        <h2>GitStat</h2>
        <p class="lead">
            Browse statistics about your favourite GitHub repositories.
        </p>
        <form action="/search" method="get" role="form">
            <div class="input-group">
                <label class="sr-only" for="nameInput">Repository name</label>
                <input type="text" id="nameInput" name="name" placeholder="Repository name" class="form-control input-lg">
                <span class="input-group-btn">
                    <button id="nameSubmit" type="submit" data-loading-text="Searching..." class="btn btn-success btn-lg" type="button" autocomplete="off">Search</button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div>


}

<script>
  $('#nameSubmit').on('click', function () {
    $(this).button('loading')
  })
</script>
