@import logic.GitHubV3Format.Contributor
@import logic.Analytics._
@(name: String, contributors: Seq[Contributor], userActivity: Seq[UserActivity], dateActivity: Seq[DateActivity])

@main(s"$name statistics") {

    <h1>Statistics for: <a href="https://github.com/@name">@name</a></h1>

    <p>Contributors:</p>
    <ul>
    @for(r <- contributors) {
        <li>
            <a href="https://github.com/@r.login">@r.login</a>
        </li>
    }
    </ul>

    <p>Recently active (over last 100 commits):</p>
    <ul>
    @for(c <- userActivity) {
        <li>
            @c._1.map(_.login).getOrElse("Unknown users"): @c._2
        </li>
    }
    </ul>

    <p>Activity per date:</p>
    <ul>
    @for(date <- dateActivity) {
        <li>
            @date._1
            <ul>
            @for(user <- date._2) {
                <li>
                    @user._1.map(_.login).getOrElse("Unknown users"): @user._2
                </li>
            }
            </ul>
        </li>
    }
    </ul>
}
