@import logic.GitHubV3Format.Contributor
@import logic.Analytics._
@(name: String, contributors: Seq[Contributor], userActivity: Seq[UserActivity], userActivity2: Seq[UserActivity2], dateActivity: Seq[DateActivity])

@main(s"$name statistics") {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 >Statistics for: <a href="https://github.com/@name">@name</a></h2>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Contributors:</div>
        <div class="panel-body">
        <div class="list-group">
            <div class="row">
        @for(r <- contributors) {
            <a href="https://github.com/@r.login" class="list-group-item col-xs-4">
            @r.login
            </a>
        }
        </div></div></div>
    </div>

    @renderUserActivity(userActivity)
    @renderDateActivity(userActivity2, dateActivity)
}
